
@{
    ViewBag.Title = "Test";
    Layout = "";    // レイアウトファイルを使用しない
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - マイ ASP.NET アプリケーション</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Scripts/app/vendor.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/app/main.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="~/Scripts/app/vendor.main.js"></script>
    <script type="text/javascript" src="~/Scripts/app/main.js"></script>
</body>
</html>

